@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html{
		scroll-behavior: smooth; 
	}
	body {
		
		@apply bg-stone-50 text-blue-900 text-base;	
	}

	h1 {
		@apply text-4xl;
	}
	h2 {
		@apply text-3xl;
	}
	h3 {
		@apply text-2xl;
	}
	h4 {
		@apply text-xl;
	}


	.page{
		@apply px-8 py-48;
	}
	.page.index{
		@apply pt-8;
	}
	.page .intro{}
	/*
	
		below could be  p:first-child too, this value should be the same as mt fr description below:
	
	*/
	.page .intro p{
		@apply mt-2
	}
	.page .intro .title{}
	.page .intro .description{
		@apply mt-2;
	}

	.page .content{
		@apply mt-8 gap-y-8
	}


	.content a {
		text-decoration: underline
	}


	.content .page-link .page-link-description{
		@apply text-base;
	}

	.content p{
		@apply self-start mt-4;
	}
	.content p:first-child{
		@apply mt-0;
	}
	.content p code{
		@apply text-sm border-2 px-1 rounded border-blue-200  text-blue-900;
		border-width: 1px;
	}
	.content ol {
		@apply mt-4;
		list-style: decimal
	}
	.content ul {
		@apply mt-4;
		list-style: disc
	}
	.content pre{
		@apply max-w-6xl self-start px-4 py-4 text-sm bg-white w-full;
	}

	.navigation-toggle .bar {
		@apply text-blue-900;
		
	}

	.navigation{}
	.navigation-list{}
	.navigation-link{}
	.navigation-link:hover{
		text-decoration: underline
	}

	.content a.page-link{
		@apply mt-4 block;
		text-decoration: none;
		--arrow-opacity:0;
		--arrow-shift:-30px;
		--title-shift:10px;
	}
	.content a.page-link .page-link-title{
		@apply relative;
		transition: transform .3s;
	}
	.content a.page-link:hover {
		--arrow-opacity:1;
	}
	.content a.page-link:hover .page-link-title{
		transform: translateX(var(--title-shift));
	}
	
	.content a.page-link .page-link-title{
		@apply relative;
	}

	a.page-link .page-link-title:before{
		
		position:absolute;
		display: block;
		content:'→';	
		left:0;
		top:0;
		transform: translateX(var(--arrow-shift));
		opacity:var(--arrow-opacity);
		transition: opacity .1s;	
	}
	
}

@layer components {
	/* .max-text-70{
		max-width: 70ch;
	} */
	.testimonial{
		@apply p-20 bg-white;
	}

	.card{
		@apply mt-8 px-4 py-4 bg-white;			
	}
	.card.portrait{
		@apply space-y-4;
		max-width:600px;
		.card-image{}
		.card-text{}
		.card-text-header{}
		.card-link{}
	}
	.card.landscape{
		@apply space-x-2;
		max-width:900px;
		.card-image{
			@apply w-7/12;
		}
		.card-text{
			@apply w-5/12; 
			min-width:300px;			
		}
	}
	.media {
		@apply w-full
	}
	.media.stacked{
		@apply mb-8;
	}
	.media .media-content.portrait{
		@apply lg:space-y-8 lg:flex-col;
	}
	.media .media-content.landscape{
		@apply space-y-8 flex-col md:flex-row md:space-y-0 md:space-x-8;
	}
	


	.mediatext{
		@apply lg:flex w-full lg:items-center;
	}
	.mediatext.reverse{
		@apply lg:flex-row-reverse;
	}

	.mediatext .media{
		width: fit-content;
	}
	.mediatext .media.landscape{
		@apply flex-col space-y-8;
	}
	.mediatext .media.portrait{
		@apply md:space-x-8 space-y-8 md:space-y-0 md:flex-row;
	}
	.mediatext .text{
		width: fit-content;
		flex-shrink: 1;
		@apply md:pl-8 mt-2 md:mt-0;
	}
	.mediatext .reverse{
		@apply md:pr-8
	}
	.mediatext .text.bottom{
		@apply self-end;
	}
	.mediatext .text.top{
		@apply self-start;
	}

	.mediatext.split .media.sm {
		@apply lg:w-4/12;
	}
	.mediatext.split .media.md{
		@apply lg:w-7/12;
	}
	.mediatext.split .media.lg{
		@apply lg:w-8/12;
	}
	.mediatext.split .media.half{
		@apply lg:w-6/12;		
	}


	.caption p{
		@apply mt-0
	}
	.caption{
		@apply mt-2 border-blue-900 text-base
		
	}
	.caption.noborder{
		@apply border-0 px-0;
	}
	.caption.left{
		@apply md:border-l-4 md:pl-2;
	}
	.caption.right{
		@apply md:self-end md:text-right md:border-r-4 md:pr-2
	}

	ul.tags{
		list-style: none;
	}
	.header{
		@apply py-4 px-8;
	}
	
	.footer{
		@apply px-8 py-4 min-h-24 text-white bg-blue-900 min-h-64;
	}



}


@layer utilities{

	.spacer {
		@apply block min-h-16 bg-transparent w-full;
	}
	.spacer.md {
		@apply min-h-8;
	}
	.spacer.sm {
		@apply min-h-16;
	}

	.scroll-info-content{
		@apply block mx-auto bg-white w-12 h-6 text-sm h-6 ;
		border-radius:10px 10px 0 0;
		line-height: 1.5rem; 
	}
	.scroll-info{
		text-align: center;
	}
	/* widths moved from a composable */
	.max-w{
		@apply max-w-6xl;
	}
	.max-narrow{
		@apply max-w-3xl;
	}
	.max-wide{
		@apply max-w-8xl;
	}
	.max-full{
		@apply max-w-full;
	}
	.max-fit{
		@apply max-w-fit;
	}
}