@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html{
		scroll-behavior: smooth; 
	}
	body {
		
		@apply bg-stone-50 text-blue-900 text-lg;	
	}

	h1 {
		@apply text-4xl;
	}
	h2 {
		@apply text-3xl;
	}
	h3 {
		@apply text-2xl;
	}
	h4 {
		@apply text-xl;
	}

	
	.content a {
		text-decoration: underline
	}
	.content p code{
		@apply text-sm border-2 px-1 rounded border-blue-200  text-blue-900;
		border-width: 1px;
	}
	.content p{
		@apply self-start;
	}
	.content ol {
		list-style: decimal
	}
	.content ul {
		list-style: disc
	}
	pre{
		@apply max-w-6xl self-start px-4 py-4 text-sm bg-white w-full;
	}
}

@layer components {
	/* .max-text-70{
		max-width: 70ch;
	} */
	.testimonial{
		@apply p-20 bg-white;
	}

	.card{
		/* @apply px-4 py-4 bg-white; */
		
		
	}
	.card.portrait{
		@apply space-y-4;
		max-width:600px;
		.card-image{}
		.card-text{}
		.card-text-header{}
		.card-link{}
	}
	.card.landscape{
		@apply space-x-2;
		max-width:900px;
		.card-image{
			@apply w-7/12;
		}
		.card-text{
			@apply w-5/12; 
			min-width:300px;			
		}
	}

	.media.stacked{
		@apply mb-8;
	}
	.media .content.portrait{
		@apply lg:space-y-8 lg:flex-col;
	}
	.media .content.landscape{
		@apply space-y-8 flex-col md:flex-row md:space-y-0 md:space-x-8;
	}
	


	.mediatext{
		@apply lg:flex w-full lg:items-center;
	}
	.mediatext.reverse{
		@apply lg:flex-row-reverse;
	}

	.mediatext .media{
		width: fit-content;
	}
	.mediatext .media.landscape{
		@apply flex-col space-y-8;
	}
	.mediatext .media.portrait{
		@apply lg:space-x-8 space-y-8 lg:space-y-0 lg:flex-row;
	}
	.mediatext .text{
		width: fit-content;
		flex-shrink: 1;
		@apply lg:pl-8
	}
	.mediatext .reverse{
		@apply lg:pr-8
	}
	.mediatext .text.bottom{
		@apply self-end;
	}
	.mediatext .text.top{
		@apply self-start;
	}

	.mediatext.split .media.sm {
		@apply lg:w-4/12;
	}
	.mediatext.split .media.md{
		@apply lg:w-7/12;
	}
	.mediatext.split .media.lg{
		@apply lg:w-8/12;
	}
	.mediatext.split .media.half{
		@apply lg:w-6/12;		
	}


	.caption{
		@apply mt-2 border-black
		
	}
	.caption.noborder{
		@apply border-0 px-0;
	}
	.caption.left{
		@apply md:border-l-4 md:pl-2;
	}
	.caption.right{
		@apply md:self-end md:text-right md:border-r-4 md:pr-2
	}


	ul.tags{
		list-style: none;
	}
}